body{
    background-color:gray;
}

#containter{
    margin: 0 auto;
    background-color:rgb(47, 248, 255);
    text-align: center;
    width: 750px;
    height: 275px;
    border: 10px solid white;
}
#card{
color:black;
margin:25px auto;
font-size: 27px;


}
#buttonid{
margin: 50px auto;
height: 50px;
width: 250px;
background-color: #4CAF50;
cursor: pointer;
text-align: center;
border: none;
text-decoration: none;
}